/* CSS RESET KODLARI */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET KODLARI */


.jumbotron {
    background-color: #303640;
    height:50px;
    position: relative;
}
.menu {
    /* border: 1px solid #fff; */
    width: 550px;
    height:50px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.menu ul li {
    display: block;
    float: left;
    height: 50px;
    width: auto;
    /* margin:0 auto 0 20px; */
    /* border: 1px solid #fff; */
    padding:15px 0 0 0;
    margin-left:20px;
    
}
.menu ul li a {
    text-decoration: none;
    color: rgb(130, 130, 130);
}
.menu ul li a:hover {
    color: #fff;
}
.isimm {
    margin-top: -4px;
}
.menu ul li a #isim {
    color: rgb(205, 0, 0);
    float: left;
    font-size: 20px;
}
.menu ul li a #isim:hover {
    color: rgb(255, 151, 151);
}

body {
    background-color:#E9ECEF;
    font-family: Arial, Helvetica, sans-serif;
}
.col-sm-12 {
    margin-top: 50px;
    /* border:1px solid #000; */
    text-align: center;
}
.baslik {
    color: rgb(208, 1, 1);
    font-size: 55px;
    margin-bottom: 10px;
}
.col-sm-12 a {
    text-decoration: none;
    font-size: 20px;
}
.katalog {
    margin:10px 0 0 0;
}
.katalog ul li {
    list-style:disc;
    margin:5px 0 0 0;
}
.katalog ul li:hover{
    opacity:0.6;
}
#buton {
    margin: 15px 0 0 0;
}
#hakk {
    background-color: #0075ec;
    border: 0px;
    border-radius:6px;
    height:40px;
    width:125px;
    color: #fff;
}
#hakk:hover {
    opacity:0.8;
}